#div_intro{
    background-size: inherit;
    background-repeat: no-repeat;
    text-align: center;
}
@font-face {
    font-family: 'vikingregular';
    src: url('../fonts/viking.ttf')
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}    
#nome{text-align: center; font-family: 'vikingregular'}
#tell_me_more{
    font-weight: 900 ; background-color: darkcyan; font-family: Verdana, Geneva, Tahoma, sans-serif ; color: black;
    transition-duration: 0s;
}
#tell_me_more:hover{background-color: gray;}
